@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rancho&family=Sacramento&display=swap");

:root {
  --main-color: #3854a1;
  --main-color: #7778d6;
  --sec-color: rgb(68, 68, 68);
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0s;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  list-style-type: none;
}

*::selection {
  background-color: var(--main-color);
  color: #fff;
}
body {
  background-color: #f3f0f9;
  min-height: 300vh;
  background-color: rgba(212, 203, 203, 0.822);
}
.dark-mood {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1.2rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--sec-color);
  border-radius: 30px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3854a1, #6378b1);
  border-radius: 100px;
}
section,
header {
  padding: 2rem 7%;
}
header {
  padding-block: 1rem;
}
/* Start Components */
.btn {
  width: 15rem;
  text-align: center;
  padding: 0.7rem 0.4rem;
  font-size: 1.5rem;
  background: var(--main-color);
  color: #fff;
  margin-top: 1rem;
  margin: 2rem;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: inline-block;
}
.darkm {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.747);
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 50%;
}
.whitem {
  background-color: white;
  color: rgba(0, 0, 0, 0.747);
  font-weight: bold;
}
.darkm:hover {
  transform: scale(1.1);
}

.btn:hover {
  background: var(--sec-color);
}
.heading {
  text-align: center;
  /* padding: 12rem 0; */
  margin: 2rem 0;
}
.heading span {
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.2rem 0.5rem;
  color: var(--main-color);
  border-radius: 50%;
  font-weight: bold;
}
.heading span.space {
  background: none;
}
.stars i {
  font-size: 1.7rem;
  color: var(--main-color);
}
/* End Components */
/* Start header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3854a1;
  box-shadow: 0 0.4rem 0.3rem rgba(92, 83, 83, 0.5);
  z-index: 1000;
}
.header.sticky {
  color: #fff;
}
header .logo {
  color: #fff;
  font-size: 3rem;
  font-family: "Sacramento", cursive;
}
header .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  padding-inline: 1.1rem;
}
header ul li a {
  color: #fff;
}

header ul li a:hover {
  color: var(--sec-color);
}

header .icons {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
}
header .icons i {
  padding-inline: 0.3rem;
}
header .icons i:hover {
  color: var(--sec-color);
}
#menu {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
/* login form */
.login-form {
  height: 100%;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: -120%;
  /* top: 0; */
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
}
.login-form.active {
  top: 0;
}
.login-form form {
  background-color: #fff;
  width: 40rem;
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  position: relative;
}
.login-form form h3 {
  font-size: 2.5rem;
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  padding-block: 2.5rem;
  position: relative;
}

.login-form form h3::before {
  content: "";
  position: absolute;
  width: 10rem;
  top: 6rem;
  background-color: var(--main-color);
  height: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.login-form form h3::after {
  content: "";
  position: absolute;
  width: 1rem;
  top: 5.3rem;
  height: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 0.3rem solid var(--main-color);
  background-color: #eaf6f6;
}
.login-form form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
}
.login-form form .box input {
  width: calc(100% - 3rem);
}
.login-form form .box i {
  font-size: 2rem;
  padding-right: 0.4rem;
  color: var(--main-color);
}
.login-form form .box:focus {
  border: 0.1rem solid var(--main-color);
}
.login-form form .box:focus i {
  color: #444;
}
.login-form form #remember {
  font-size: 1rem;
  margin-top: 0.7rem;
}
.login-form form label {
  font-size: 1.2rem;
  text-transform: none;
  color: #666;
}
.login-form form .btn {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  margin-block: 2.5rem;
  text-transform: uppercase;
  margin-inline: auto;
}
.login-form form .btn:hover {
  background-color: #444;
}

.login-form form p {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  color: #666;
  text-align: center;
}
.login-form form p a {
  color: var(--main-color);
}
.login-form form p a:hover {
  text-decoration: underline;
  font-size: larger;
}
.login-form form .icons {
  text-align: center;
  margin-bottom: 4rem;
}
.login-form form .icons .social-icons {
  font-size: 3rem;
}
.login-form form .icons .social-icons a i {
  margin: 0.7rem 0.2rem;
}
.login-form form .icons .social-icons a i.fa-facebook {
  color: blue;
}
.login-form form .icons .social-icons a i.fa-twitter {
  color: rgb(38, 122, 231);
}
.login-form form .icons .social-icons a i.fa-google-plus {
  color: #db2140;
}
.login-form form .fa-times {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #999;
}
/* login form */

/* End header */

/* Start landing */
section.landing {
  min-height: 100vh;
  position: relative;
  background-image: url(/img/cav-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
section.landing .content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-45%, -50%);
}
section.landing .content h3 {
  font-size: 5.624rem;
  font-size: 3rem;
  font-family: cursive;
  color: #444;
  text-transform: uppercase;
  padding-bottom: 4rem;
}
section.landing .content .btns-container {
  width: 40rem;
  display: flex;
  justify-content: space-between;
}
section.landing .content .btn {
  text-transform: uppercase;
}
section.landing .content .btn:first-child {
  background-color: #444;
}
section.landing .content p {
  font-size: 1.5rem;
  color: #666;
  padding-block: 0.5rem;
}
section.landing img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
/* End landing */
/* Start about */
.about .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 4.5rem;
  overflow: hidden;
}
.about .image {
  flex: 1 1 50rem;
  border-radius: 30px;
  overflow: hidden;
}
.about .image img {
  width: 100%;
  height: 65vh;
}
.about .content {
  flex: 1 1 50rem;
}
.about .content h3 {
  font-size: 3rem;
  padding-block: 2rem;
  color: #666;
}
.about .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
/* End about */
/* Start product */
.products .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.products .card-container .card {
  flex: 1 1 28rem;
  text-align: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 0.6rem;
}
.products .card-container .card .image {
  overflow: hidden;
  text-align: center;
  position: relative;
  border-radius: 0.6rem;
}
.products .card-container .card .image img {
  height: 23rem;
  width: 100%;
  z-index: -1;
}
.products .card-container .card:hover .icons-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.15s;
}
.products .card-container .card .image .icons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.products .card-container .card .image .icons a {
  background-color: #fff;
  color: var(--main-color);
  padding: 0.5rem;
  margin-block: 0.3rem;
  transform: translateX(8rem);
}
.products .card-container .card .image .icons a:nth-child(2) {
  transition-delay: 0.15s;
}
.products .card-container .card .image .icons a:nth-child(3) {
  transition-delay: 0.3s;
}
.products .card-container .card:hover .image .icons a {
  transform: translateX(0rem);
}
.products .card-container .card .image .icons a:hover {
  background-color: var(--main-color);
  color: #fff;
}
.products .card-container .card:hover .image img {
  transform: scale(1.2);
}
.products .card-container .content {
  padding-inline: 1rem;
}
.products .card-container .content h3 {
  padding-block: 1.2rem;
  font-size: 2rem;
  font-family: cursive;
  color: #444;
}
.products .card-container .content p {
  color: #666;
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
}
.products .card-container .card .content .price {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 1rem;
}
.products .card-container .card .content .price span {
  font-size: 1.2rem;
  color: #666;
  font-weight: lighter;
  text-decoration: line-through;
}

/* End product */
/* Start services */
.services .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
  align-items: center;
}
.services .box-container .box {
  flex: 1 1 30rem;
  background-color: rgba(255, 51, 153, 0.05);
  background-color: #fff;
  text-align: center;
  padding-block: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.services .box-container .box h3 {
  padding-block: 1.2rem;
  font-size: 2rem;
  font-family: cursive;
  color: #444;
  color: var(--main-color);
}
.services .box-container .box p {
  color: #666;
  font-size: 1.5rem;
}
/* End services */

/* Start review */
.reviews .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.reviews .box-container .box {
  flex: 1 1 25rem;
  background-color: var(--sec-color);
  position: relative;
  text-align: center;
  min-height: 20rem;
  padding: 2rem;
  border: 1rem solid #f3f0f9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 6rem;
}
.reviews .box-container .box:hover {
  transform: scale(1.1);
  border: 1rem solid var(--main-color);
  z-index: 2;
}
.reviews .box-container .box:hover .image img {
  border: 0.8rem solid var(--main-color);
}
.reviews .box-container .box .image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5rem;
}
.reviews .box-container .box .image img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.8rem solid #f3f0f9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  object-fit: cover;
}
.reviews .box-container .box .content {
  margin-top: 4rem;
}
.reviews .box-container .box .content h3 {
  font-size: 2rem;
  font-family: cursive;
  color: var(--main-color);
  padding-bottom: 1rem;
}
.reviews .box-container .box .content p {
  padding-block: 2rem;
  font-size: 1.5rem;
  color: #fff;
}
/* End review */

/* Start contact */
.contact {
  margin-bottom: 3rem;
}
.contact .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  background-color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.contact .row form {
  flex: 1 1 50rem;
  padding: 0.5rem 1rem;
}
.contact .row .map {
  flex: 1 1 30rem;
  width: 100%;
  border: 1rem solid #fff;
}
.contact .row form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact .row form textarea,
.contact .row form .input-box input {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: #333;
  border-radius: 0.5rem;
  width: 49%;
  background: #eeee;
}
.contact .row form textarea {
  width: 100%;
}
.contact .row form .btn {
  margin-left: 0;
}
/* End contact */

/* Start footer */
.footer {
  background-color: #333;
}
section.footer {
  padding-bottom: 0;
  /* padding-top: 4rem; */
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  color: #fff;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--main-color);
  padding-block: 1rem;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: #fff;
  padding-block: 0.5rem;
}
.footer .box-container .box a:hover {
  color: var(--main-color);
  margin-left: 0.5rem;
  text-decoration: underline;
}
.footer .copyright {
  margin-top: 2rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  position: relative;
}
.footer .copyright span {
  color: var(--main-color);
}

.footer .copyright::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--main-color);
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* End footer */

/* start taps */
.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs li {
  padding: 10px;
  background-color: var(--main-color);
  border-right: 1px solid white;
  cursor: pointer;
}
.tabs li.active,
.tabs li:hover {
  background-color: #ddd;
}

.content {
  background-color: rgba(221, 221, 221, 0.726);
}
.content div {
  display: none;
}

/* end tabs */

/* Start Media */
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #menu {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #444;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar ul {
    flex-flow: column;
  }
  header .navbar ul li {
    margin: 0.7rem 0;
    text-align: center;
    width: 100%;
  }
  header .navbar ul li a {
    display: block;
    font-size: 2rem;
    background-color: #333;
    padding: 0.5rem 0;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    color: var(--main-color);
  }
  .fa-times {
    transform: rotate(180deg);
  }

  .about .row {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    flex: 40rem;
  }
  .about .content {
    text-align: center;
  }
  .about .content {
    flex: 1 1 30rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  section.landing .content {
    left: 50%;
  }
}
/* End Media */
